


body{background: #FFFFFF; 
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1{
    font-size: 45px; /*psuedoclass*/
    color:black;
    
    letter-spacing: 3px;
    word-spacing: 5px;
    
    font-weight: bold;
}

.blurb{
    color: black;
    font-size: 1.2em;

}




